*{
    box-sizing: border-box;
}
html{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body{
    background-color: black;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.navigation {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}
nav{
    background-color: rgb(0, 0, 0);
}
#navbarText p{
    color: white;
    font-size: 20px;
    padding-top: 10px;
}
.box1{
    height: 100%;
    width: 100%;
    background-image: url('../images/SF_Bay.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: table;
}
.box1info{
    letter-spacing: 0.5em;
    text-align: center;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
}
.box1info h1{
    text-shadow: 4px 4px black;
    color: white;
}
.box2{
    height: fit-content;
    width: 100%;
    background-image: url('../images/2341441.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.container{
    width: 100%;
    height: fit-content;
    padding: 5rem 2rem 0rem 2rem;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 1rem;
    background-color: rgba(0, 0, 0, 0.61);
    color: white;
}
.myimage{
    width: 90%;
    height: auto;
    border: 0.2rem solid black;
    border-radius: 30%;
}
.personal_links{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 0;
}
.box3{
    height: fit-content;
    width: 100%;
    background-image: url('../images/Linus-Torvalds-Quote-Talk-is-cheap-Show-me-the-code.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.box3 div{
    padding: 10px;
}
.technologies{
    margin-bottom: 5rem;
    background-color: white;
    color:black;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 1rem;
}
#tech_start{
    margin-top: 40rem;
    text-align: center;
    color: black;
    background-color: white;
}
#tech_start ul li{
    color: black;
    font-size: 20px;
    text-shadow: 1px 2px white;
    list-style: none;
}
.techLogos {
    width: auto;
    height: auto;
    max-height: 100px;
    max-width: 200px;
}
.box4{
    height: fit-content;
    width: 100%;
    background-image: url('../images/trail.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.resume {
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-color:rgba(70, 70, 70, 0.803);
    height: fit-content;
    padding: 5rem;
    text-align: center;
}
.innerResume{
    padding-left: 2rem;
    color:white;
    text-align: left;
}
.innerResume span{
    font-size: 20px;
}
.box5{
    height: fit-content;
    width: 100%;
    background-image: url('../images/code-black-background-programming.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white;
}
.box5 h1{
    background-color: #000;
    margin: 0;
    padding: 0;
}
.projects{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1rem;
    padding: 2rem;
    margin-bottom: 30rem;
    background-color: #000;
}
.projects p{
    font-family: sans-serif;
    font-size: 20px;
}
.projects img{
    height: 100%;
    width: 100%;
    transition: 2s transform;
}
#project_img {
    width: 80%;
    overflow: hidden;
    border: 2px solid white;
}
.projects img:hover{
    transform: scale(1.2);
}
.box6{
    height: fit-content;
    width: 100%;
    background-image: url('../images/fcb.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.contact{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 4rem;
    color: white;
    margin-top: 10rem;
    margin-bottom: 10rem;
    padding: 5rem;
    background-color: rgba(0, 0, 0, 0.652);
}
.message form{
    display: grid;
    grid-template-rows: 100%;
    grid-gap: 1rem;
    width: 80%;
}
@media only screen and (max-width: 700px) {
    /* For mobile phones: */
    [class="container"] {
        grid-template-columns: 100%;
        grid-gap: 0;
    }
    [class="personal_links"] {
        grid-template-columns: 100%;
        grid-gap: 10px;
        width: 100%;
    }
    [class="technologies"] {
        grid-template-columns: 50% 50%;
        padding: 5px;
    }
    [class="techLogos"] {
        max-width: 100px;
        max-height: 150px;
    }
    [class="projects"] {
        grid-template-columns: 100%;
    }
    [class="contact"] {
        grid-template-columns: 100%;
    }
    [class*="box"] {
        background-size: cover;
        background-repeat: no-repeat;
    }
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}